@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap');

body {
    background-color: #444444;
    color: white;
    font-family: 'Averia Serif Libre', cursive;
}

.ui {
    font-family: 'Averia Serif Libre', cursive !important;
}

h2 {
    font-family: 'Averia Serif Libre', cursive;
}

.ui.menu.nav {
    background-color: #2e2e2e;
}

.ui.modal.myModal {
    display: flex;
    background-color: #2e2e2e;
    justify-content: center;
    align-content: center;
}

.ui.button.loginButton {
    margin-top:5px;
    align-self: center;
    width: 200px
}

.stacked {
    display: flex;
    flex-direction: column;
    width: 300px
}

.banner {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 5px;
}

.banner > img{
    width: 800px;
}

.content {
  display: flex;
  margin-left:auto;
  margin-right:auto;
  width: 800px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-top: 10px;
}

.cardThumb {
    width: 300px;
    padding: 5px;
}

.thumbContainer {
    display: flex;
    justify-content: space-around;
}

.dividerTest {
    display: flex;
    flex-direction: horizontal;
    position: relative;
}

.adminPanelContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
    padding-top: 10px;
}

#loginEntry {
    width: 300px;
    display: flex;
    margin-left:auto;
    margin-right:auto;
    flex-direction: column;
}



